* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
  overflow: hidden;
}

#colorPicker {
  display: grid;
  grid-template-areas: 'color color' 'power off' 'r r' 'g g' 'b b' 'l l';
  grid-template-rows: 40vh 12vh 12vh 12vh 12vh 12vh;
  grid-template-columns: 50vw 50vw;
}

#selectedColor {
  grid-area: color;
  background-color: gray;
}

input {
  display: block;
  margin: 2vw 4vw;
}

button {
  margin: 2vw 4vw;
  font-size: 5vh;
  border: solid #00536e;
  background-color: #008CBA;
  color: white;
  border-radius: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1vw;
  height: 11vh;
  border-radius: 0%;
  background: #05bcc2;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1vw;
  height: 11vh;
  border-radius: 0%;
  background: #05bcc2;
  cursor: pointer;
}

#r {
  grid-area: r;
  -webkit-appearance: none;
  background-image: linear-gradient(to left, red, black);
  border: solid black;
}

#g {
  grid-area: g;
  -webkit-appearance: none;
  background-image: linear-gradient(to left, green, black);
  border: solid black;
}

#b {
  grid-area: b;
  -webkit-appearance: none;
  background-image: linear-gradient(to left, blue, black);
  border: solid black;
}

#l {
  grid-area: l;
  -webkit-appearance: none;
  background-image: linear-gradient(to left, white, black);
  border: solid black;
}
